<div class="form-style" style="width:600px; margin:0 auto;">
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="ui form">

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>


  <div class="actions">
    <%= f.submit "Log in", class: "ui fluid large teal submit button" %>
  </div>
</div>
<% end %>

<%= render "users/shared/links" %>
</div>
