<div class="main-store-visual">
<h1>Store Infore</h1>
<div class="store-visual">
<%= attachment_image_tag @store, :image, :fill, 800, 350, format: 'jpeg', fallback: "no_image.jpg"%>
</div>
</div>
<table class="ui celled padded table">
<thead>
	<tr>
		<th>name</th>
		<th>Introduction</th>
		<% if @store.id == current_store.id then %>
		<th></th>
		<% end %>
	</tr>
</thead>
<tbody>
	<tr>
		<td><%=@store.name%></td>
		<td><%= @store.intro%></td>
	<% if @store.id == current_store.id then %>
		<td>
		<%= link_to "編集", edit_store_path(current_store.id), class: "ui orange edit button"%>
	</td>
	</tr>
	<% end %>
</tbody>
</table>
<div class="ui two column grid">
	<div class="column">
		<h1>Gochi一覧</h1>
		<table class="column ui celled padded table">
			<thead>
				<tr>
					<th>お客様</th>
					<th>ごちそうさま</th>
					<th>ありがとうございました</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="column">
		<h1>Staff一覧</h1>
		<table class="ui celled padded table">
			<thead>
			<tr>
				<th>Image</th>
				<th>Staff</th>
				<th>Introduction</th>
			<% if @store.id == current_store.id then %>
				<th></th>
				<th></th>
				<% end %>
			</tr>
		</thead>
		<% @staffs.each do |staff| %>
			<tbody>
			<tr>
				<td><%= attachment_image_tag staff, :image, :fill, 50, 50, format: 'jpeg' %></td>
				<td><%= staff.name %></td>
				<td><%= staff.introduction %></td>
				<td><%= link_to "編集", edit_staff_path(staff.id), class: "ui blue button"%></td>
				<td><%= link_to '除名',staff_path(staff.id), method: :delete, class: "ui red button"%></td>
			</tr>
			</tbody>
		<% end %>
		</table>
	</div>
</div>

<% if @store.id == current_store.id then %>
<div class="ui form">
<h2>店員　新規登録</h2>

<%= form_for(@staff) do |f| %>
	<div class="two fields">
    <div class="field">
        <%= f.label :name %><br/>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
   	<div class="field">
   	  	<%= f.label :image %><br />
    		<%= f.attachment_field :image %>
  	</div>
  	</div>

 		<div class="field">
        <%= f.label :introduction %><br/>
        <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction" %>
    </div>
    <%= f.submit 'Create Staff', class: "ui button" %>
<% end %>
<% end %>
</div>


