<div class="main-visual">
  <div class="ui big form search_div">
  <%= search_form_for @search do |f| %>
    <h1>「ごちそうさま」から生まれる幸せ</h1>
    <%= f.search_field :name_cont, class: "form-control field search_text", placeholder: "お店の店員に「ごちそうさま」を伝えよう！" %>
    <div class="kenskaubtn">
    <%= f.submit "検索", class: 'search_btn ui submit button' %>
    </div>
  <% end %>
</div>
</div>

<div class="main-content">
<h1>ごちそうさま一覧</h1>
<table class="ui striped table" style="width:100%;">
		<tr>
			<th>Image</th>
			<th>Store</th>
			<th>Opinion</th>
		</tr>
		<% @gochisous.each do |gochi| %>
			<tr>
				<td><%= attachment_image_tag gochi.store, :image, :fill, 50, 50, format: 'jpeg' %><%#= attachment_image_tag store, :image, :fill, 50, 50, format: 'jpeg' %></td>
				<td><%= gochi.store.name %><%#= store.name %></td>
				<td><%= gochi.opinion %><%#= store.intro %></td>
			</tr>
		<% end %>

</table>
</div>
