<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOCHI</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <div class="header">
      <nav class="navbar navbar-main">
        <div class="container relative">
          <div class="navbar-header">
            <h4><span aria-hidden="true"></span>GOCHI</h4>
          </div>

          <div id="slidemenu">
            <ul data-animations="zoomIn fadeIn fadeInUp fadeIn">
              <% if user_signed_in? %>
                <li class="">
	                <%= link_to  user_path(current_user.id), class: 'btn btn-default' do %>
	  				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
	  				<span>ホーム</span>
					<% end %>
                </li>
                <li class="">
	                <%= link_to  user_path(current_user.id), class: 'btn btn-default' do %>
	  				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
	  				<span>マイページ</span>
					<% end %>
                </li>
	            <li class="">
	                <%= link_to  destroy_user_session_path, method: :delete, class: 'btn btn-default' do %>
	  				<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
	  				<span>ログアウト</span>
					<% end %>
                </li>
              <% else %>
                <li class="">
	                <%= link_to  new_user_registration_path, class: 'btn btn-default' do %>
	  				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	  				<span>サインアップ</span>
					<% end %>
                </li>
                <li class="">
	                <%= link_to  new_user_session_path, class: 'btn btn-default' do %>
	  				<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
	  				<span>ログイン</span>
					<% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <%= yield %>

  </body>

  <footer >
  	<div class='container'>
  	  <div class='row'>
  	  <div class='col-xs-9'>
  	  </div>
  	  <div class='col-xs-3'>
		    <h7>CopyRight Infratop.inc</h7>
		  </div>
	  </div>
	</div>
  </footer>

</html>